.header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 1rem auto;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    max-width: 1440px;

    &-logo{
      img{
        display: block;
        max-width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &-nav{
      flex-grow: 2;
      
      &-links{
        display: flex;
        gap: 2rem;
        font-size: 1em;
        
        &-item{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          color: $primary_color;

          &.active{
            color: $dark_green_color;
          }
        }
        
      }
    }

    &-cta{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    @media(max-width:992px){
      display: none;
    }
}