$primary_color: #FFB100;
$secondary_color: #ff671c;
$cta_color:#DF672C;
$cta_hover_color: #ff671c;
$white_color:#fff;
$text_color:#878787;
$black_color: #000;
$brown_color: #1e1810;
$gray_color: #9b9b9b;
$bg_seperator: #f5f5f5;
$green_color: #41b983;
$red_color: #e62864;
$blue_color: #336aeb;
$border_color: #dbdbdb;
$fade_gray: #e3e3e3;