.about-medals {
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        display: block;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  @media (max-width: 768px) {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
